<section class="fundamentals-intro">
    <div class="container">
        <h1>Fundamentos de Moldería y Sastrería</h1>
        <app-desc-card
            [title]="basicTools.title"
            [isList]="basicTools.isList"
            [items]="basicTools.items"
            [accentColor]="basicTools.accentColor">
        </app-desc-card>
        <app-desc-card
            [title]="measurements.title"
            [description]="measurements.description"
            [accentColor]="measurements.accentColor">
            <app-table [data]="data"></app-table>
            <app-tip
                title="Consejo Importante" 
                content="Las medidas de contorno se dividen en cuatro partes, mientras que las de altura se utilizan completas.">
            </app-tip>
        </app-desc-card>
    </div>
</section>