<div class="rectangle-container">
  <div class="title-container">
    <p *ngIf="title">{{ title }}</p>
  </div>
  
  <div class="rectangle">
    <div class="measurements">
      <span class="vertical">{{ getMeasurement('top')?.value || '' }}{{ unit }}</span>
      <span class="horizontal">{{ getMeasurement('right')?.value || '' }}{{ unit }}</span>
      
      <div *ngIf="getMeasurement('top')" class="arrow-vertical"></div>
      <div *ngIf="getMeasurement('right')" class="arrow-horizontal"></div>
    </div>
    
    <ng-content></ng-content>
  </div>
</div>
