@if (datos.length > 0) {
  <div class="table-container">
    <table>
      <thead>
        <tr>
          @for (col of columnas; track col) {
            <th>{{ col }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (fila of datos; track fila) {
          <tr>
            @for (col of columnas; track col) {
              <td>{{ fila[col] }}</td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <div>No hay datos para mostrar.</div>
}